.fieldset{
	width:60%;
	margin:auto;
}

.main-fieldset{
	width:80%;
	margin:auto;
}

.table-content{
	margin:auto;
}

.error {
	color: red;
	font-size: small;
}

.com{
	color:red;
}

.center{
	margin-left:45%;
}

.button{

}