.fieldset{
	width:60%;
	margin:auto;
}

.main-fieldset{
	width:80%;
	margin:auto;
}

.table-content{
	margin:auto;
}

.error {
	color: red;
	font-size: small;
}

.com{
	color:red;
}

.center{
	margin-left:45%;
}

.button{

}
.headingtable {
  display: table;
}

.headingrow {
  display: table-row;
}

.headingcell {
  display: table-cell;
  padding: 10px;
}

.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 10px;
}

.row:hover {
  background-color: #cccccc;
}
/* 
.cell:hover {
  background-color: #e5e5e5;
} */